{% extends "lop/layout.html" %}
{% load static %}

{% block body %}

<a href="{% url 'logout'%}">Logout</a>

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">Logo</span>
    <a href="{% url 'logout'%}">Logout</a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>

    <!-- profile section -->
    <div class="w3-container w3-row">
        <div>
            <span>Welcome, </span>
            <a href="#" onclick="load_profile()">{{ user.lop_username }}</a>
        </div>
    </div>

    <hr>

    <!-- lop lists section -->
    <div class="w3-container">
        <h5>My lists</h5>
    </div>

    <div class="w3-bar-block">

        <!-- div to append lop -->
        <div id="lop_lists"></div>

        <!-- create new lop -->
        <a href="#" onclick="lop_new_toggle()">New</a>
        <div id="lop_new" style="display: none;">
            <input type="text" id="lop_newname" name="lop_newname">        
            <input type="submit" value="Create Lop" onclick="lop_new()">        
        </div>

    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !CONTENT VIEW! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

<!-- startscreen view -->
<div id="startscreen_view">

    <span>no list selected, use the menu</span>
    
<!-- end startscreen view -->
</div>
    
<!-- project view -->
<div id="project_view" style="display: none;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <span id="header_project_name"></span>
        <a href="#members" onclick="load_members()">Members: </a>
    </header>

    <!-- panels -->
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3>52</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Messages</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3>99</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Views</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3>23</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Shares</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>50</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Users</h4>
            </div>
        </div>
    <!-- end panels -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>    

<!-- end project view -->
</div>

<!-- members views -->
<div id="members_view" style="display: none;">

    <!-- header -->
    <a href="#project" onclick="load_view('project_view')">back</a>
    <h1>Members</h1>

    <!-- table -->
    <table style="border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid;">Username</th>
            <th style="border: 1px solid;">Email</th>
            <th style="border: 1px solid;">Role</th>
            <th style="border: 1px solid;">Weekly email</th>
        </tr>
        <tbody id="members_table_body"></tbody>
    </table>

    <!-- add member -->
    <div>
        <p>Enter list of emails. *each line is a member</p>
        <textarea name="" id="members_textarea" cols="30" rows="10"></textarea>
        <input type="submit" value="add" onclick="members_add()">
    </div>
    
<!-- end members view -->
</div>


<!-- profile views -->
<div id="profile_view" style="display: none;">

<h1>Profile</h1>

<div>
    <div>
        <label for="profile_username">Username:</label>
        <input type="text" id="profile_username" value="{{ user.lop_username }}">
    </div>
    <input type="button" value="save" onclick="profile_username_save()">
</div>

<hr>

<div>
    <div>
        <label for="profile_username">Email:</label>
        <input type="text" id="profile_email" value="{{ user.email }}">
    </div>
    <input type="button" value="save" onclick="profile_email_save()">
</div>

<hr>

<div>
    <div>
        <label for="profile_username">Password:</label>
        <input type="password" id="profile_password">
    </div>
    <div>
        <label for="profile_confirmation">Password Confirmation:</label>
        <input type="password" id="profile_confirmation">
    </div>
    <input type="button" value="save" onclick="profile_password_save()">
</div>

<!-- end profile view -->
</div>

<!-- End page content -->
</div>

<!-- The Modal -->
<div id="myModal" class="modal"></div>


{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'lop/index.js' %}"></script>
    <script src="{% static 'lop/lib.js' %}"></script>
{% endblock %}