{% extends "lop/layout.html" %}
{% load static %}

{% block body %}

<h1>register</h1>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'register' %}" method="post">

    {% csrf_token %}

    <div>
        <label for="username">Username:</label>
        <input type="username" id="username" name="username">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">    
    </div>

    <div>
        <label for="confirmation">Password:</label>
        <input type="password" id="confirmation" name="confirmation">    
    </div>

    <input type="submit" value="Create account">
</form>

{% endblock %}

{% block script %}
    <script src="{% static 'lop/register.js' %}"></script>
{% endblock %}